body{
    margin-top: 250px;
}

.flag-green{
    width: 600px;
    height: 350px;
    background-color: #006a4e;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


.flag-red{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
}

h2{
    text-align: center;
    color: rgb(16, 173, 235);
}
a{
    color: rgb(255, 0, 55);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 0, 149);
}